body{
    background:black;
    grid-template-areas: 'one';
    
}
#editor{
    display:grid;
    justify-items: center;
    align-items: center;
    grid: 'one' 100vh / 100vw;
}
.text-plate{
    position: absolute;
    width: 80vw;
    height: 100vh;
    left:50%;
    margin-left: -40vw;
    z-index: 0;
    background: rgba(52, 100, 5, 0.40);
    color: white;
    font-size: 20vh;
}
video{
    position: absolute;
    left:40%;
    width: 80vw;
    height: 100vh;
    margin-left: -40vw; 
    z-index: -10;
}
